@media (max-width: 991px) {
    .flex-btn {
      justify-content: start;
      margin-left: 20px;
      margin-top: 0;
    }
  }
  
  @media (max-width: 991px) {
    .mobile-nav-toggle {
      display: block;
    }
  
    .header__navbar {
      width: 100%;
    }
  
    .header__nav-list {
      display: none;
    }
  }
  
  
  /**
  * Mobile Navigation 
  */
  .mobile-nav-toggle {
    color: #F07605;
    font-size: 28px;
    cursor: pointer;
    display: none;
    line-height: 0;
    transition: 0.5s;
  }
  
  .mobile-nav-toggle.bi-x {
    color: #F07605;
    ;
  }
  
  @media (max-width: 991px) {
    .mobile-nav-toggle {
      display: block;
    }
  
    .navbar ul {
      display: none; 
    }
  }
  
  .navbar-mobile {
    position: fixed;
    overflow: hidden;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: #F6F6F6;
    transition: 0.3s;
    z-index: 999;
  }
  
  .navbar-mobile .mobile-nav-toggle {
    position: absolute;
    top: 15px;
    right: 15px;
  }
  
  .navbar-mobile ul {
    display: block;
    position: absolute;
    top: 55px;
    right: 15px;
    bottom: 15px;
    left: 15px;
    padding: 10px 0;
    border-radius: 10px;
    background-color: #fff;
    overflow-y: auto;
    transition: 0.3s;
  }
  
  .navbar-mobile a,
  .navbar-mobile a:focus {
    padding: 10px 20px;
    font-size: 15px;
    color: #454545;
  }
  
  .navbar-mobile a:hover,
  .navbar-mobile .active,
  .navbar-mobile li:hover>a {
    color: #f99a43;
  }
  
  
  /* Hero section */
  @media (max-width: 991px) {
    .hero-header {
      flex-direction: column;
      position: unset;
    }
  
    .dark-bg {
      padding: 6rem 1rem;
      position: unset;
      width: 100%;
    }
  
    .hero-banner {
      position: unset;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0;
    }
  
    .hero-title {
      font-size: 39px;
      text-align: center;
    }
  
    .hero-b {
      position: unset;
      padding-top: 2rem;
      display: flex;
      flex-direction: column;
      align-items: center;
  
    }
  
    .img-bg {
      width: 100%;
      position: relative;
    }
  
    .hero-para {
      position: absolute;
      width: 100%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      padding: 20px;
      text-align: center;
    }
  
    .bg-img {
      height: 100%;
      opacity: 1;
    }
  }
  
  
  
  @media (max-width: 991px) {
      .about-section {
        display: block;
        padding: 20px;
      }
    
      .about-img {
        width: 100%;
        margin-bottom: 2rem;
      }
  
      .about-text {
        width: 100%;
      }
    
      .about-text {
        margin-left: 0;
      }
    }
    
    @media (max-width: 576px) {
    
      .about-img {
        width: 100%;
        margin-bottom: 1rem;
      }
    
      .about-text {
        font-size: 1rem;
      }
    }
  
    
    /* Experience section */
    @media (max-width: 768px) {
      .experience {
        flex-direction: column;
        align-items: normal;
      }
    }
  
    @media (max-width: 576px) {
      .experience {
        padding: 0 1rem;
      }
  
      .count {
        font-size: 1rem;
      }
  
      .count {
        data-target: none;
      }
    }
  
  
    /* Speciality section */
    @media (max-width: 991px) {
      .flex {
        flex-direction: column;
        padding: 20px;
      }
  
      .bg-primary-clr,
      .bg-dark,
      .bg-dark-800 {
        margin-bottom: 2rem;
      }
  
      .section-title {
        display: none;
        padding-left: 20px;
      }
    }
  
    @media (max-width: 576px) {
      .flex {
        align-items: center;
      }
  
      .bg-primary-clr,
      .bg-dark,
      .bg-dark-800 {
        width: 100%;
      }
    }
    
  @media (max-width: 768px) {
      .flex-events {
        flex-direction: column-reverse;
        padding: 20px;
      }
      .flex-event {
        padding-top: 20px;
      }
      .date {
        margin-top: 8rem;
        /* margin-left: -6rem; */
      }
      .event-details {
        /* padding-left: 2rem; */
      }
      .event-details p {
        width: 100%
      }
      .img-div {
        width: 100%;
        margin: 0;
        
      }
  }
  
  
  /* more about */
  @media (max-width: 991px) {
    .more__about {
      padding: 20px;
    }
    .more-about-text {
      padding-bottom: 2rem;
    }
    .more__about__img-container {
      width: 100%;
  
    }
    .more__about__text {
      width: 100%;
      padding-bottom: 3rem;
    }
    .more__about__img {
      width: 200px;
      height: 60px;
      left: 50px;
      top: 19px;
      background-size: cover;
    }
    .more__about__overlap-container {
      width: 200px;
      height: 60px;
      left: 75px;
      top: 35px;
    }
  }
  
  /* Performers */
  @media (max-width: 600px) {
    .past-performance__header {
      margin-bottom: 0;
      padding-left: 20px;
    }
      .past-performer {
          flex-direction: column;
      }
    .past-performer__img-container,
    .past-performer__profile-content {
      width: 100%;
      padding: 20px;
      margin-left: 0;
    }
    .past-performer__img-container {
      height: 410px;
    }
    .view-all-performers {
      display: none;
    }
  
  .past-performer-overlay {
    width: 220px;
    height: 355px;
    left: 44px;
    top: 31.31px;
    transform: rotate(-6.71deg);
  }
  
  .past-performer__profile-img {
    width: 255px;
    height: 367px;
    left: 55px;
    top: 30.57px;
  }
  }
  
  /* gallery */ 
  @media (max-width: 600px) {
      .section__gallery {
          flex-direction: column;
          padding: 20px;
      }
      .section__gallery__picture {
        width: 100%;
    }
     
  }
  
  /* animated text */
  @media (max-width: 991px) {
    #scroll-text__container {
      width: 100%;
    }
  }
  
  /* contact section */
  @media (max-width: 600px) {
    .contact-text h4 {
      font-size: 40px;
    }
  }
  
  /* Blog */
  @media (max-width: 600px) {
      .blog-section {
          flex-direction: column;
          padding: 20px;
      }
  }
  
  /* Footer */
  @media (max-width: 600px) {
      footer {
          padding: 30px 30px;
      }
      .footer-content {
          flex-direction: column;
      }
  }

  /* our goal */
  @media (max-width: 991px) {
    .our-goal {
      padding: 20px;
    }
    .our-goal__content {
      flex-direction: column;
    }
    .our-goal__text {
      margin: 0;
      width: 100%;
    }
    .our-goal__img {
      width: 100%;
      padding-top: 3rem;
    }
  }

/* Team section */
@media (max-width: 991px) {
  .team-wrapper {
    flex-direction: column;
  }

  .member-wrapper {
    width: 100%;
    padding: 0 20px;
  }
}