:root {
    /* Colors */
    --primary-clr: #F07605;
    --primary-clr-100: #f99a43;
    --secondary-clr: #fff5eb;
    --dark-800: #262626;
    --text-color: rgba(12, 11, 11, 0.95);
    --darker-700: #333333;
    --dark-650: #454545;
    --dark-600: hsla(0, 0%, 0%, 0.2);
    --dark-500: #858585;
    --light-400: #d6d6d6;
    --light-300: #f4f4f4;
  
    /* Font Family */
    --dm-sans: "DM Sans", sans-serif;
    --source-serif: "Source Serif Pro", sans-serif;
    --source-sans: "Source Sans Pro", sans-serif;
    --oswald: "Oswald", sans-serif;
    --raleway: "Raleway", sans-serif;
  
    /* Font-Size */
    --text: 1rem;
    --text-2: 1.2rem;
    --text-3: 1.5rem;
    --header: 2.5rem;
    --header-2: 3rem;
    --header-3: 3.5rem;
    --header-4: 4rem;
  
    /* Font-weight */
    --light-bold: 400;
    --bold: 500;
    --bolder: 600;
    --extra-bold: 700;
  
    /* z-index */
    --z-10: 10;
    --z-20: 20;
    --z-30: 30;
    --z-40: 40;
    --z-50: 50;
    --z-100: 100;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: border-box;
    /* animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important; */
  }
  
  * {
    margin: 0;
    padding: 0;
    font: inherit;
  }
  
  html:focus {
    scroll-behavior: smooth;
  }
  
  html,
  body {
    height: 100%;
    background-color: #F7F7F7;
    font-family: var(--source-sans);
  }

  a {
    text-decoration: none;
  }


  .login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f2f2f2;
}

.loginbox {
    background-color: #FDFDFD;
    padding: 50px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 400px;
}

.login-wrap {
    text-align: center;
    margin-bottom: 20px;
}

.login-wrap h1 {
    font-size: 36px;
    font-weight: 500;
    color: #454545;
    margin-bottom: 5px;
    font-family: 'Oswald'
}

.login-wrap p {
    font-size: 14px;
    color: #777;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
    font-family: var(--source-sans-3);
}

.form-control {
    width: 100%;
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.login-submit {
    color: #fff;
    padding: 10px 15px;
    font-size: 14px;
    border: none;
    cursor: pointer;
    width: 100%;

    background: #454545;
    box-shadow: 0px 6px 12px rgba(51, 108, 251, 0.16);
    border-radius: 6px;
}

.align-right {
    text-align: right;
    font-size: 14px;
}

.align-right a:hover {
    text-decoration: underline;
}

/* Admin Header */
.admin-header {
  display: flex;
  padding: 24px 150px 24px;
  background: #F6F6F6;
  box-shadow: 0px 4px 4px rgba(188, 182, 182, 0.25);
}

.navlist {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo h2 {
  font-family: var(--dm-sans);
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
}

.navlinks ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navlinks li {
  list-style: none;
  margin-inline-start: 2rem;
}

.navlinks li a {
  font-size: 16px;
  color: #454545;
  font-weight: 400;
  font-family: 'source-serif-pro';
  line-height: 24px;
}

